<style type="text/css">
    {% include global.css %}
</style>
<meta charset="utf-8">
<meta name="description" content="The Compound III documentation site.">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width,height=device-height">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" sizes="192x192" href="{{ '/public/img/compound-192.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="512x512" href="{{ '/public/img/compound-512.png' | relative_url }}">
<link rel="shortcut icon" href="{{ '/public/img/favicon.ico' | relative_url }}">
<title>Compound III Documentation</title>